.container{
    background-color: black;
}

body {
    
    background-color: black;
}

.container {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    
}

h1{
    text-transform: uppercase;
    text-align: center;
    color: white;   
}

p {
    text-align: center;
    color: white;
}

img {
    width: 100%;
    border: 5px solid white;
}